.git
.github
.husky
client
node_modules
server/build
server/db
server/dist
server/files
server/node_modules
server/src/build
server/src/generated
server/.env
server/.gitignore
server/.lintstagedrc.mjs
server/eslint.config.mjs
server/nodemon.json
server/README.md
.dockerignore
.editorconfig
.gitignore
.prettierignore
.prettierrc
compose.yaml
Dockerfile
eslint.config.mjs
README.md
*.log
